/* Google Fonts - Fira-Sans */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* This is Universal Tag To Remove Padding & Margin From Browser */

* {
    margin: 0;
    padding: 0;
}

/* Style For Font Family & Background Color  */

body {

    font-family: "Fira Sans", serif;
    background-color: rgb(245, 245, 245);
}

/* Navbar Section Style - Start */

.navbar-section {

    margin: 0 100px;
}

.navbar-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container h2 {

    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}

.navbar-container button {

    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Navbar Section Style - End */

/* Banner Section Style - Start */


.banner-container {

    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 95px;
    border-radius: 10px;
    margin: 20px 100px 50px;
}

.banner-title {

    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    margin-bottom: 18px;
}

.banner-heading {

    color: rgb(14, 14, 14);
    font-size: 52px;
    margin-bottom: 18px;
}

.common-btn {

    border-radius: 5px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 12px 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Banner Section Style End */


/* The Vision Of Future Style Start */

.vision-container {

    margin: 20px 100px;
}

.vision-card-container {

    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.vision-card-1 {

    border-radius: 10px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 30px;
    width: 33.3%;
}

.vision-card-2 {

    border-radius: 10px;
    background-color: rgb(198, 228, 214);
    padding: 30px;
    width: 33.3%;
}

.vision-card-3 {

    border-radius: 10px;
    background-color: rgb(247, 235, 207);
    padding: 30px;
    width: 33.3%;
}

.vision-title {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.vision-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.card-title {

    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.card-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.vision-btn-1 {

    border-radius: 5px;
    background-color: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.vision-btn-2 {

    border-radius: 5px;
    background-color: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.vision-btn-3 {

    border-radius: 5px;
    background-color: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* The Vision Of Future Style End */

/* Dr. Mohammed Yunus Style Start */

.mohammed-yunus-section {

    margin: 80px 100px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
}

.mohammed-yunus-description {

    background-image: url(./image/quote-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 30px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.yunus {

    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.goverment {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Dr. Mohammed Yunus Style End */

/* Recent News Style Start */

.recent-news-container {

    margin: 20px 100px;
}

.recent-news-title {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-bottom: 15px;
}

.recent-news-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.recent-news-card-1-container {

    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 48px;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.recent-news-card-1-container img {

    border-radius: 15px;
}

.recent-news-content-title {

    color: rgba(14, 14, 14, 0.8);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.recent-news-card-2-container {

    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 48px;
    display: flex;
    gap: 32px;
}

.recent-news-card-2-container img {

    border-radius: 15px;
}

/* Recent News Style End */

/* Donate Today Style Start */

.donate-today-section {

    margin: 60px 100px;
}

.donate-today-section h1 {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

.donate-today-section p {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0 80px;
    text-align: center;
}

.donate-card-container {

    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.donate-taka {

    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 35px;
    width: 240px;
    cursor: pointer
}

.special {

    background-color: rgb(198, 228, 214);
}

.first:hover {

    background-color: salmon;
}

.third:hover {

    background-color: violet;
}

.four:hover {

    background-color: springgreen;
}

.donate-taka h2 {

    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.other-amount {

    margin-top: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

.other-amount input[type="text"] {

    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.donate-btn {

    display: flex;
    justify-content: center;
}

.common-btn-donate {

    border-radius: 5px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 12px 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

/* Subscribe Newsletter Style Start */

.subscribe-newsletter-container {

    margin: 80px 100px;
    border-radius: 10px;
    background-color: rgb(198, 228, 214);
    padding: 80px 100px;
}

.subscribe-newsletter-container h2 {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

.subscribe-newsletter-container p {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0 80px;
    text-align: center;
}

.subscribe {

    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.subscribe input[type="email"] {

    width: 550px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}

.spam {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0 80px;
    text-align: center;
    margin-top: 20px;
}

/* Subscribe Newsletter Style End */

/* Footer Style Start */

footer {

    background-color: rgb(255, 255, 255);
    padding: 50px 160px 50px 160px;
}

footer h2 {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

.footer-image {

    display: flex;
    justify-content: center;
    gap: 25px;
}

.copyright {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0 80px;
    text-align: center;
    margin-top: 30px;
}

/* Footer Style End */