/* Google Fonts - Fira-Sans */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* This is Universal Tag To Remove Padding & Margin From Browser */

* {
    margin: 0;
    padding: 0;
}

/* Style For Font Family & Background Color  */

body {

    font-family: "Fira Sans", serif;
    background-color: rgb(245, 245, 245);
}

/* Style For Banner Section */


.banner-container {

    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 95px;
    border-radius: 10px;
    margin: 20px 100px 50px;
}

.banner-title {

    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    margin-bottom: 18px;
}

.banner-heading {

    color: rgb(14, 14, 14);
    font-size: 52px;
    margin-bottom: 18px;
}

.common-btn {

    border-radius: 5px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 12px 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Banner Section Style End */


/* The Vision Of Future Style Start */

.vision-container {

    margin: 20px 100px;
}

.vision-card-container {

    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.vision-card-1 {

    border-radius: 10px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 30px;
    width: 33.3%;
}

.vision-card-2 {

    border-radius: 10px;
    background-color: rgb(198, 228, 214);
    padding: 30px;
    width: 33.3%;
}

.vision-card-3 {

    border-radius: 10px;
    background-color: rgb(247, 235, 207);
    padding: 30px;
    width: 33.3%;
}

.vision-title {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.vision-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.card-title {

    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.card-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.vision-btn-1 {

    border-radius: 5px;
    background-color: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.vision-btn-2 {

    border-radius: 5px;
    background-color: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.vision-btn-3 {

    border-radius: 5px;
    background-color: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* The Vision Of Future Style End */

/* Recent News Style Start */

.recent-news-container {

    margin: 20px 100px;
}

.recent-news-title {

    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-bottom: 15px;
}

.recent-news-description {

    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.recent-news-card-1-container {

    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 48px;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.recent-news-card-1-container img {

    border-radius: 15px;
}

.recent-news-content-title {

    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.recent-news-card-2-container {

    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 48px;
    display: flex;
    gap: 32px;
}

.recent-news-card-2-container img {

    border-radius: 15px;
}

/* Recent News Style End */

